html {
  min-height: 100vh;
  background-attachment: fixed;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  margin: 0 auto;
  max-width: 800px;
  min-height: 100vh;
  padding: 40px 60px 60px;
}

hr {
  border: none;
  border-top: 3px solid black;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px 5px;
}

nav {
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.me-img {
  margin-top: 20px;
}

.blog-post {
  margin-bottom: 50px;
}

code,
pre {
  background: #ece7dd !important;
  font-size: 0.9rem;
}

.hljs {
  background: #ece7dd !important;
}

.melink {
  font-size: x-large;
  text-decoration: none;
  color: black;
}

.melink:hover {
  text-decoration: none;
  color: black;
}

.melink:visited {
  color: black;
}

.external-site {
  font-size: 0.8em;
  color: #555;
}