body {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  max-width: 800px;
  padding: 0 20px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px 5px;
}

nav {
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.me-img {
  margin-top: 20px;
}

.blog-post {
  margin-bottom: 50px;
}

code {
  background: rgb(245, 245, 245) !important;
}

.hljs {
  background: rgb(245, 245, 245) !important;
}

.melink {
  font-size: x-large;
  text-decoration: none;
  color: black;
}

.melink:hover {
  text-decoration: none;
  color: black;
}

.melink:visited {
  color: black;
}
